{% extends "layout.html" %}
{% block content %}
    <h2>Real World Pokedex</h2>
    <form action="{{ url_for('sign') }}" method=post>
	<p class="heading">Name: <input type=text name=name>
	<p class="heading">Species: <input type=text name=species>
	<p class="heading">Breed: <input type=text name=breed>
	<p class="heading">Age: <input type=text name=age>
	<p class="heading">Sex: <input type=text name=sex>
        <p class="heading">Traits:
	<textarea rows=5 cols=50 name=traits></textarea></p>
	<p class="heading">Image: <input type=text name=image>
	<p><input type=submit value=Sign></p>
    </form>

    <h2>Entries</h2>
    {% for entry in entries %}
    <p class=entry>
    Name: {{ entry.name }} <br>
    Species: {{ entry.species }}<br>
    Breed:   {{ entry.breed }} <br>
    Age:   {{ entry.age }}<br>
    Sex:   {{ entry.sex }}<br>
    Traits:   {{ entry.traits }} <br>
    Image Link:   {{ entry.image }} <br>
    </p>
    {% endfor %}

{% endblock %}
