{% extends "layout.html" %}
{% block content %}
    <h2>Real World Pokedex</h2>
    <form action="{{ url_for('sign') }}" id="input_form" method=post>
	<p class="heading">Name: <input type=text name=name>
	<p class="heading">Species: <input type=text name=species>
	<p class="heading">Breed:

	<select size="5" name = "breed">
    	{% for name in dog_list %}
	    <option value="{{ name }}">{{ name }}</option>
	    {% if dog_list[name]|length > 0 %}
	       {% for i in dog_list[name] %}
	           <option value="{{ i}} {{ name }}">{{ i }} {{ name }}</option>
	       {% endfor %}
	    {% endif %}
	{% endfor %}
	</select>

	<p class="heading">Age: <input type=text name=age>
	<p class="heading">Sex: <input type=text name=sex>
	<p class="heading">Traits:
	<textarea rows=5 cols=50 name=traits></textarea></p>
	<p><input type=submit value=Sign></p>
    </form>


     <h2>Entries</h2>
    <!-- Need to include this in html for dynamic raining of cats and dogs
    	 THIS GOES IN THE LAYOUT -->
    <ul class="rain_drops">
	{% for entry in entries %}
		<li> <img class="square2" src={{ entry.image }}><br></li>
    	{% endfor %}

	{% for entry in entries %}
		<li> <img class="square2" src={{ entry.image }}><br></li>
    	{% endfor %}
	</ul>

    {% for entry in entries %}
    <div class=entry>
    <p class=square>
    	Name: {{ entry.name }}
	<img src={{entry.image}}>
    </p>
    Species: {{ entry.species }}<br>
    Breed:   {{ entry.breed }} <br>
    Age:   {{ entry.age }}<br>
    Sex:   {{ entry.sex }}<br>
    Traits:   {{ entry.traits }} <br>
    Image Link: {{ entry.image }}<br>
    Fact:  {{ entry.fact }}<br>
    </div>
    {% endfor %}
    {% endblock %}
